.header-bg {
  background: #000000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 20px;
}
.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.header-menu a {
  padding: 16px 8px;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  margin: 4px;
  transition: 0.03s;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header a::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
